{% doc %}
  Cart Drawer Footer Component

  Renders the footer section with order notes, totals, discounts, and checkout button.

  @example
  {% render 'cart-drawer-footer' %}
{% enddoc %}

<div class="border-t border-neutral-100 px-5 py-2!">
  {%- if settings.show_cart_note -%}
    <details id="Details-CartDrawer">
      <summary>
        <span class="summary__title">
          Order special instructions
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </summary>
      <cart-note class="cart__note field">
        <label class="visually-hidden" for="CartDrawer-Note">Order special instructions</label>
        <textarea
          id="CartDrawer-Note"
          class="text-area text-area--resize-vertical field__input"
          name="note"
          placeholder="Order special instructions"
        >{{ cart.note }}</textarea>
      </cart-note>
    </details>
  {%- endif -%}

  <!-- Start blocks -->
  <!-- Subtotals -->

  <div class="cart-drawer__footer">
    <div class="w-full flex justify-between items-center" role="status">
      <span class="totals__total-text">Estimated total</span>
      <span class="totals__total-value">{{ cart.total_price | money_with_currency }}</span>
    </div>
  </div>

  <!-- CTAs -->

  <div class="cart__ctas">
    <button
      type="submit"
      id="CartDrawer-Checkout"
      class="cart__checkout-button button button-boost w-full"
      name="checkout"
      form="CartDrawer-Form"
      {% if cart == empty %}
        disabled
      {% endif %}
    >
      Check out
    </button>

    <div class="cart-drawer__footer-messages">
      {%- if cart.cart_level_discount_applications.size > 0 -%}
        <ul class="discounts list-unstyled" role="list" aria-label="Discount">
          {%- for discount in cart.cart_level_discount_applications -%}
            <li class="discounts__discount discounts__discount--end">
              {{- 'icon-discount.svg' | inline_asset_content -}}
              {{ discount.title | escape }}
              (-{{ discount.total_allocated_amount | money }})
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <p class="text-sm text-secondary tax-note caption-large rte">
        {%- if cart.duties_included and cart.taxes_included -%}
          {%- if shop.shipping_policy.body == blank -%}
            Duties and taxes included. Discounts and shipping calculated at checkout.
          {%- else -%}
            Duties and taxes included. Discounts and
            <a href="{{ shop.shipping_policy.url }}">shipping</a> calculated at checkout.
          {%- endif -%}
        {%- elsif cart.duties_included == false and cart.taxes_included -%}
          {%- if shop.shipping_policy.body == blank -%}
            Taxes included. Discounts and shipping calculated at checkout.
          {%- else -%}
            Taxes included. Discounts and <a href="{{ shop.shipping_policy.url }}">shipping</a> calculated at checkout.
          {%- endif -%}
        {%- elsif cart.duties_included and cart.taxes_included == false -%}
          {%- if shop.shipping_policy.body == blank -%}
            Duties included. Taxes, discounts and shipping calculated at checkout.
          {%- else -%}
            Duties included. Taxes, discounts and <a href="{{ shop.shipping_policy.url }}">shipping</a> calculated at
            checkout.
          {%- endif -%}
        {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
          {%- if shop.shipping_policy.body == blank -%}
            Taxes, discounts and shipping calculated at checkout.
          {%- else -%}
            Taxes, discounts and <a href="{{ shop.shipping_policy.url }}">shipping</a> calculated at checkout.
          {%- endif -%}
        {%- endif -%}
      </p>
    </div>
  </div>
</div>
