{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{% comment %}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
{% endcomment %}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{% comment %} <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script> {% endcomment %}

<style>
  .drawer {
    visibility: hidden;
    pointer-events: none;
  }

  .drawer.active {
    pointer-events: auto;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner relative w-120 h-screen max-w-[calc(100vw-3rem)] flex flex-col  overflow-hidden  z-2 bg-white border-l border-neutral-300  color-{{ settings.cart_color_scheme }}"

      role="dialog"
      aria-modal="true"
      aria-label="Your cart"
      tabindex="-1"
    >
      {% render 'cart-drawer-header' %}
      {%- if cart == empty -%}
        {% render 'cart-drawer-empty' %}
      {%- else -%}
        <cart-drawer-items
          {% if cart == empty %}
            class=" is-empty"
          {% endif %}
        >
          <form
            action="{{ routes.cart_url }}"
            id="CartDrawer-Form"
            class="cart__contents cart-drawer__form"
            method="post"
          >
            <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
              {%- if cart != empty -%}
                <div class="flex-grow flex flex-col">
                  {%- for item in cart.items -%}
                    {% render 'cart-drawer-item', item: item %}
                  {%- endfor -%}
                </div>
              {%- endif -%}
              <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
              <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">Loading</p>
            </div>
            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>
        </cart-drawer-items>
        {% render 'cart-drawer-footer' %}
      {%- endif -%}
    </div>
  </div>
</cart-drawer>
