{% doc %}
  Product Card

  Renders a product card with customizable options.

  @param {product} product - Product object (required)
  @param {boolean} hide_buy_form - Hide the buy form (default: false)
  @param {boolean} cardStyle - Card style (default: false)
{% enddoc %}

<div
  data-card="{{ cardStyle }}"
  class="flex flex-col gap-4 text-foreground overflow-hidden group  data-[card=true]:rounded-xl "
>
  <script id="product-data-{{ product.id }}" type="application/json">
    {{ product | json }}
  </script>
  <a href="{{ product.url }}" class="product-card__image-wrapper overflow-hidden bg-product-bg-secondary">
    {% if product.featured_media %}
      {{
        product.featured_media
        | image_url: width: 800, height: 800, crop: 'center'
        | image_tag:
          class: 'product-card__image product-card__image--primary h-auto w-full  ',
          alt: product.featured_media.alt
        | default: product.title
        | escape
      }}

      {% if product.media[1] %}
        {{
          product.media[1]
          | image_url: width: 800, height: 800, crop: 'center'
          | image_tag:
            class: 'product-card__image product-card__image--secondary h-full w-full object-contain group-data-[card=true]:object-cover',
            alt: product.media[1].alt
          | default: product.title
          | escape
        }}
      {% endif %}
    {% else %}
      <div class="product-card__placeholder"></div>
    {% endif %}
  </a>
  <div class="flex flex-col gap-5 ">
    <div>
      <h3 class="text-lg font-semibold line-clamp-1">{{ product.title | escape }}</h3>
      <p class="product-card__description text-gray-600 line-clamp-1 h-6">
        {{ product.metafields.custom.headline.value | strip_html | truncate: 100 }}
      </p>
    </div>
    {% unless hide_buy_form %}
      {%
        render 'product-buy-form',
        product: product,
        section_id: section.id,
        product_form_id: 'product-card-' | append: product.id,
        show_dynamic_checkout: false,
        button_variant: 'default'
        variant_selector_type: 'select'
      %}
    {% endunless %}
  </div>
</div>

{% stylesheet %}
  .product-card__image-wrapper {
    position: relative;
    /* border: 1px solid #e5e7eb; */
    border-radius: 8px;
    overflow: hidden;
  }

  .product-card__image {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .product-card__image--primary {
    position: relative;
    opacity: 1;
  }

  .product-card__image--secondary {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1);
  }

  a:hover .product-card__image--primary {
    opacity: 0;
  }

  a:hover .product-card__image--secondary {
    opacity: 1;
    transform: scale(1.1);
  }

  .product-card__placeholder {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 0.04), rgb(0 0 0 / 0.12));
  }

  .product-card__description {
    line-height: 1.5;
  }

  .product-card__price {
    font-variant-numeric: tabular-nums;
    opacity: 0.9;
  }
{% endstylesheet %}
