{% doc %}
  Product Variant Selector (Horizontal)

  Renders product variant options as horizontal radio buttons in a grid layout.

  @param {product} product - Product object (required)
{% enddoc %}

{% liquid
  if product == blank
    echo '<!-- Error: product required for product-variant-selector-horizontal -->'
    break
  endif
%}

{% unless product.has_only_default_variant %}
  <div class="flex flex-col gap-4">
    {% for option in product.options_with_values %}
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 w-full">
        {% for value in option.values %}
          <label
            for="product-options[{{ option.name }}]-{{ forloop.index }}"
            class="group relative flex md:flex-col md:text-center items-center px-3 md:px-6 py-4 gap-2 border bg-white rounded-md cursor-pointer transition-all border-neutral-200 hover:bg-neutral-100 data-[selected=true]:border-[var(--product-accent)] data-[selected=true]:[background:var(--product-background)]"
            data-option-label
            data-option-position="{{ option.position }}"
            {% if option.selected_value == value %}
              data-selected="true"
            {% else %}
              data-selected="false"
            {% endif %}
          >
            <input
              type="radio"
              id="product-options[{{ option.name }}]-{{ forloop.index }}"
              name="options[{{ option.name }}]"
              value="{{ value }}"
              {% if option.selected_value == value %}
                checked
              {% endif %}
              data-option-input
              class="md:sr-only w-4 h-4 text-[var(--product-accent)] border-neutral-300 cursor-pointer accent-[var(--product-accent)]"
              data-option-position="{{ option.position }}"
            >
            <span class="font-medium text-primary group-data-[selected=true]:text-[var(--product-accent)]">
              {{- value -}}
            </span>
            <div class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center gap-1">
              <span
                class="hidden text-xs font-medium px-1.5 py-0.5 tabular-nums rounded-full bg-[var(--product-accent)] text-[var(--product-button-text-color)] whitespace-nowrap z-10"
                data-variant-badge
              ></span>
              {% if value.variant.price > 5000 %}
                <span class="hidden md:inline-block text-xs font-medium px-1.5 py-0.5 tabular-nums rounded-full bg-[var(--product-accent)] text-[var(--product-button-text-color)] whitespace-nowrap z-10">
                  Free delivery
                </span>
              {% endif %}
            </div>
          </label>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endunless %}
