<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Custom Fonts %}
    <style>
      @font-face {
        font-family: 'Red Hat Display';
        src: url("{{ 'RedHatDisplay-VariableFont_wght.ttf' | file_url }}") format('truetype');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Red Hat Text';
        src: url("{{ 'RedHatText-VariableFont_wght.ttf' | file_url }}") format('truetype');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
      }
    </style>

    {%- if settings.cart_type == 'drawer' -%}
      {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'mega-menu.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'testimonial-video-player.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
    <script async src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}"></script>

    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {% # Set product theme class on product pages %}
    {%- if template.name == 'product' and product != blank -%}
      {%- capture product_theme_class -%}
        {%- render 'product-theme-class', product: product -%}
      {%- endcapture -%}
      {%- assign product_theme_class = product_theme_class | strip -%}
    {%- endif -%}

    {{ content_for_header }}
  </head>

  <body class="{{ product_theme_class }}">
    {% sections 'header-group' %}

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };
    </script>

    {%- if settings.cart_type == 'drawer' -%}
      <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
