{% liquid
  assign section_id = section.settings.custom_id | default: section.id
%}

<div class="container relative pt-32 pb-20 ">
  {% if section.settings.title != blank %}
    <h2 class="title-medium pb-1">{{ section.settings.title | escape }}</h2>
    {% if section.settings.description != blank %}
      <p class="text-secondary">{{ section.settings.description | escape }}</p>
    {% endif %}
  {% endif %}
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 pt-12 z-10">
    {% for block in section.blocks %}
      <div
        class="flex flex-col relative overflow-hidden rounded-2xl group "
        {{ block.shopify_attributes }}
      >
        <a href="{{ block.settings.button_url }}" class="category-card  flex-grow">
          {% render 'image', image: block.settings.image, width: 1200, height: 1200, class: 'w-full h-full flex-grow' %}
        </a>

        <div class="p-6 flex flex-col items-center justify-between text-center gap-1 bg-white h-44">
          <div>
            {% if block.settings.title != blank %}
              <h3 class="text-2xl pb-1 line-clamp-1">{{ block.settings.title | escape }}</h3>
            {% endif %}
            {% if block.settings.description != blank %}
              <p class="text-black/80 line-clamp-1">{{ block.settings.description | escape }}</p>
            {% endif %}
          </div>
          {% if block.settings.button_text != blank %}
            <a href="{{ block.settings.button_url }}" class="button button-boost">
              {{- block.settings.button_text | escape -}}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% stylesheet %}
  .generic-categories__section {
    position: relative;
  }

  .generic-categories__section::before {
    margin-top: -300px;
    margin-bottom: -200px;
    padding-top: 320px;
    padding-bottom: 240px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(0, 0%, 100%, 0.7) 11%,
        hsla(0, 0%, 100%, 0.47) 22%,
        hsla(0, 0%, 100%, 0.3) 33%,
        hsla(0, 0%, 100%, 0.17) 44%,
        hsla(0, 0%, 100%, 0.09) 50%,
        hsla(0, 0%, 100%, 0.17) 56%,
        hsla(0, 0%, 100%, 0.3) 67%,
        hsla(0, 0%, 100%, 0.47) 77%,
        hsla(0, 0%, 100%, 0.7) 89%,
        hsla(0, 0%, 100%, 1) 100%
      ),
      linear-gradient(
        180deg,
        color-mix(in srgb, #dbeae5 90%, transparent) -1.58%,
        color-mix(in srgb, #ede1d7 90%, transparent) 20%,
        color-mix(in srgb, #f6b4ca 90%, transparent) 100%
      );
  }

  .category-card img {
    transition: transform 0.3s ease;
  }

  .category-card:hover img {
    transform: scale(1.05);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Generic categories",
  "tag": "section",
  "class": "generic-categories__section",
  "max_blocks": 3,
  "settings": [
    { "type": "text", "id": "title", "label": "Text", "default": "Generic categories" },
    { "type": "textarea", "id": "description", "label": "Description", "default": "Describe this category" }
  ],
  "blocks": [
    {
      "type": "category_card",
      "name": "Category card",
      "limit": 3,
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Category"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Describe this category"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button text"
        },
        { "type": "url", "id": "button_url", "label": "Button URL" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Generic categories",
      "blocks": [
        {
          "type": "category_card",
          "settings": {
            "title": "Category",
            "description": "Describe this category"
          }
        },
        {
          "type": "category_card",
          "settings": {
            "title": "Category",
            "description": "Describe this category"
          }
        },
        {
          "type": "category_card",
          "settings": {
            "title": "Category",
            "description": "Describe this category"
          }
        }
      ]
    }
  ]
}
{% endschema %}
