{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

<div class="container max-w-4xl py-8">
  <h1 class=" mb-8">{{ page.title }}</h1>

  <div class="prose prose-lg max-w-none">
    {{ page.content }}
  </div>
</div>

{%- comment -%} WebPage structured data {%- endcomment -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ page.title | json }},
  "description": {{ page.excerpt | default: page.title | strip_html | truncate: 160 | json }},
  "url": {{ shop.url | append: page.url | json }}{%- if page.author != blank -%},
  "author": {
    "@type": "Person",
    "name": {{ page.author | json }}
  }{%- endif -%}
}
</script>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
