{% liquid
  assign section_id = section.settings.custom_id | default: section.id
%}

<div
  id="{{ section_id }}"
  class="product-reviews container-small py-30"
>
  {% if section.settings.title != blank %}
    <h2 class="text-4xl uppercase font-bold text-black mb-8">
      {{ section.settings.title }}
    </h2>
  {% endif %}

  <!-- Start of Judge.me code -->
  <div style="clear:both"></div>
  <div
    id="judgeme_product_reviews"
    class="jdgm-widget jdgm-review-widget"
    data-product-title="{{ product.title | escape }}"
    data-id="{{ product.id }}"
  >
    {{ product.metafields.judgeme.widget }}
  </div>
  <!-- End of Judge.me code -->
</div>

{% style %}
  .jdgm-rev-widg {
    padding: 0 !important;
  }

  .jdgm-rev-widg__title {
    font-size: 2.75rem !important;
    text-align: left !important;
    font-weight: 600;
    line-height: 32px;
    color: #000;
  }

  .jdgm-rev__replier {
    font-weight: 550 !important;
  }

  .jdgm-rev__title {
    font-weight: 550 !important;
    margin-bottom: 4px !important;
  }

  .jdgm-row-stars {
    justify-content: space-between !important;
  }

  .jdgm-rev-widg__summary {
    width: auto !important;
  }

  .jdgm-rev-widg__summary-inner {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 8px !important;
  }

  .jdgm-rev-widg__summary-text {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    color: #666 !important;
  }

  .jdgm-rev__reply {
    background-color: var(--product-background) !important;
    border-radius: 12px !important;
  }

  .jdgm-star {
    color: var(--color-pink-500) !important;
  }

  .jdgm-histogram {
    display: none !important;
  }

  .jdgm-write-rev-link {
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    padding: 8px 16px !important;
  }
{% endstyle %}

{% schema %}
{
  "name": "Product Reviews",
  "tag": "section",
  "class": "section-product-reviews",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
